.contact-content h2 {
  width: 49.7vw;
  font-size: 2.1rem;
  font-weight: 500;
  font-variant: small-caps;
  color: var(--text-dark);
  text-align: left;
  margin-bottom: 0.3rem;
}

.contact-content p {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #4a5568;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  display: block;
  margin-top: 1.0rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.form-group input,
.form-group textarea {
  font-family: 'Times New Roman';
  width: 100%;
  padding: 1rem;
  border: 2px solid #e2e8f0;
  border-radius: 8px;
  font-size: 1rem;
  transition: var(--transition);
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--accent-color1);
}

.form-group textarea {
  min-height: 150px;
  resize: vertical;
}

@media (max-width: 992px) {
  .nav-menu {
    gap: 1rem;
    font-size: 0.9rem;
  }
  
  .slide-title {
    font-size: 2rem;
  }
  
  .slide-text {
    font-size: 1rem;
  }
  
  .section-title {
    font-size: 2rem;
  }
  
  .slider-btn {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }

  .contact-content h2 {
    width: 89.5vw;
  }
}

#btn-contact {
  align-self: flex-end;
  margin-top: 0.7rem;
  margin-bottom: 1.5rem;
}

