/*** Header ***/
header {
  position: sticky;
  top: 0.5rem;
  z-index: 9;
}

.navbar {
  width: 89.5vw;
  position: sticky;
  top: 0.5rem;
  height: auto;
  max-height: none;
  margin: 15px auto;
  z-index: 99;
}

.navbar-container {
  background-color: rgb(253, 252, 250, 0.65);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(128, 128, 128, 0.65);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  text-align: center;
}

.navbar-container ul {
  list-style: none;
  padding: 0;

  display: flex;
  justify-content: center;
  gap: 5rem;
}

.navbar-container li {
  display: inline-block;
}

.navbar-container a {
  padding: 2px 0;
  color: var(--accent-color1);
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.navbar-container a:hover {
  color: var(--accent-color3);
  border-bottom-color: var(--accent-color3);
}


@media (max-width: 512px) {
  .navbar {
    display: none;
  }
}

@media (min-width: 1024px) {
  .navbar {
    width: 49.7vw;
  }

  .navbar-container ul {
    gap: 4.5rem;
  }

  .navbar-container a {
    font-size: 16px;
  }
}


