<section class="resume-section">
  <div class="resume-container">
    <h1 class="resume-title" id="honors">Selected Honors &amp; Awards</h1>
    <div class="resume-card" id="honors">
      <h2>Academic</h2>
      <hr>
      <div class="resume-item">
        <h3>2026 AP Scholar with Distinction</h3>
        <h4>Issued by College Board &bull; Jul 2026</h4>
        <p>The college board award is given to students who scored at least a
        score of 3 on at least 5 exams and have accumulated average of 3.5.
        </p>
      </div>
      <div class="resume-item">
        <h3>2026 Korean Mathematical Olympiad Stage II Qualification</h3>
        <h4>Issued by Korean Mathematical Society &bull; Jun 2026</h4>
        <p>Approximately 400 students with outstanding score on the first
        stage of Korean Mathematical Olympiad are invited to compete in
        the second stage of the olympiad for national team selection for
        the International Mathematical Olympiad (IMO).</p>
      </div>
      <div class="resume-item">
        <h3>2026 MathCON Finalist</h3>
        <h4>Issued by MathCON &bull; Apr 2026</h4>
        <p>Participants who scored in top 1% to 2% are invited to the final
        round of MathCON in Chicago.</p>
      </div>

      <div class="resume-item">
        <h3>2025 AMC 10 Top 10%</h3>
        <h4>Issued by Korean Gifted Students Evaluation Association &bull; Jan 2026</h4>
        <p>The honor is accoladed to students who scored in top 10%.</p>
      </div>
      <div class="resume-item">
        <h3>2025 Korean Mathematical Olympiad Stage I Honorable Mention</h3>
        <h4>Issued by Korean Mathematical Society &bull; Jun 2025</h4>
        <p>Honorable mentions are awarded to students who scored in approximately
        top 300 in South Korea.</p>
      </div>

      <div class="resume-item">
        <h3>2024 AMC 8 Honor Roll</h3>
        <h4>Issued by Mathematical Association of America &bull; Feb 2025</h4>
        <p>Honor Roll is awarded to students who scored in top 5%.</p>
      </div>

      <div class="resume-item">
        <h3>2023 AMC 8 Honor Roll</h3>
        <h4>Issued by Mathematical Association of America &bull; Feb 2024</h4>
        <p>Honor Roll is awarded to students who scored in top 5%.</p>
      </div>

      <br>
      <h2>Volunteering</h2>
      <hr>
      <div class="resume-item">
        <h3>2025 Gyeonggi Province Volunteering Certificate of Commendation</h3>
        <h4>Issued by Chairman of Gyeonggi Province Volunteer Center &bull; Dec 2025</h4>
        <p>The certificate is awarded to around four people per quarter who
        dedicated their time and effort in improving the community.</p>
      </div>
      <div class="resume-item">
        <h3>2024 Gyeonggi Province Volunteer Center Chairman Award</h3>
        <h4>Issued by Chairman of Gyeonggi Province Volunteer Center &bull; Nov 2024</h4>
        <p class="card4-honors-last">The award is accoladed to around four volunteers
        per quarter, who dedicated their time and passion for their community.</p>
      </div>
    </div>
  </div>
</section>
