<section class="resume-section">
  <div class="resume-container">
    <h1 class="resume-title" id="experience">Experience</h1>
    <div class="resume-card">
      <h2>Leadership</h2>
      <hr>
      <div class="resume-item">
        <h3>Nanum Learn</h3>
        <h4>Aug 2026 - PRESENT &bull; Founder &amp; President</h4>
        <p>
        Nanum Learn is an educational initiative that aims to accelerate
        open learning by providing original and accessible resources
        such as books, classes, and handouts with permissive license.
        The initiative is in beta and hosted in <a href="https://nanumlearn.enochyu.com/">nanumlearn.enochyu.com</a>.
        </p>
      </div>
      <div class="resume-item">
        <h3>ChungManHan Holy Phil Orchestra</h3>
        <h4>Jan 2017 - PRESENT &bull; Concertmaster</h4>
        <p>
        ChungManHan Holy Phil Orchestra is a church orchestra comprising
        over 100 members. As the concertmaster of the orchestra, I serve as
        the primary assistance of the conductor and leader of First Violin.
        </p>
      </div>
      <br>
      <h2>Internship</h2>
      <hr>
      <div class="resume-item">
        <h3>DNA Math Academy</h3>
        <h4>Jun 2024 - PRESENT &bull; Instructor</h4>
        <p>
        To share the beauty of math, I occasionally tutor math in DNA Math
        Academy in South Korea. Moreover, I quarterly lead sessions for math
        competitions and Olympiads such as AMC and national Olympiads.
        </p>
      </div>
    </div>
  </div>
</section>
