<section class="resume-section">
  <div class="resume-container">
    <h1 class="resume-title" id="projects">Projects</h1>
    <div class="resume-card">
      <h2>~ Present</h2>
      <hr>
      <div class="resume-item"> 
        <h3>LibreNotebook
        <span class="project-title-link">
          (<a href="https://github.com/enochyu-official/LibreNotebook">Read More</a>)
        </span> 
        </h3>
        <h4>Giant and free notebook</h4>
        <p>
        LibreNotebook is a giant and free notebook that anyone can read and
        modify. The purpose is to inspire and accelerate open education as a
        way of returning the blessings that we received from public
        educational resources.
        <a href="https://archive.enochyu.com/mathematics/pdf/26100.pdf">PDF</a>
        of the most recent draft is available.
        </p>
      </div>

      <div class="resume-item"> 
        <h3>Problem of the Day - 100 Problems for 100 Days
        <span class="project-title-link">
          (<a href="https://nanumlearn.enochyu.com/classes/26004">Read More</a>)
        </span> 
        </h3>
        <h4>YouTube videos explaining 100 math olympiad problems</h4>
        <p>
        As the name suggests, the project contains 100
        problems from diverse sources, where I made a video
        for the problems. The playlist to the explanation
        videos are available
        <a href="https://www.youtube.com/playlist?list=PLOs3MhwbOdVyy102FYycVmbeHPPwO4Des"
           target="_blank" rel="noopener noreferrer">
          here!</a>
        The solutions are mixed works of my personal solutions,
        solutions founded by community, and official solutions.
        </p>
      </div>

      <br>
      <h2>2026</h2>
      <hr>
      <div class="resume-item">
        <h3>Daygraise</h3>
        <h4>A CLI tool to manage your task and visualize productivity</h4>
        <p>
        Please visit
        <a href="https://github.com/enochyu-official/daygraise"
           target="_blank" rel="noopener noreferrer">
        here</a> for more information.
        </p>
      </div>
      <div class="resume-item">
        <h3>JavaScript Mini-Projects
          <span class="project-title-link">
            (<a href="https://js.enochyu.com/">Read More</a>)
          </span>
        </h3>
        <h4>Fun websites that I made while learning web development</h4>
        <p>
         As an ardent high school sophomore who loves math and
         programming, I decided to create mini-projects with
         JavaScript. The purpose of this project is to document
         my learning journey and to actively engage in learning
         different programming languages on my own. Total of
         three mini-projects are created each with detailed
         explanation, demonstration, and source code.
        </p>
      </div>
    </div>
  </div>
</section>
