<section class="resume-section">
  <div class="resume-container">
    <h1 class="resume-title" id="publications">Publications</h1>
    <div class="resume-card">
      <h2>2026</h2>
      <hr>
      <div class="resume-item"> 
        <h3>Enoch's Notebook: An Introduction to Linear Algebra
        <span class="project-title-link">
          (<a href="https://github.com/enochyu-official/notebook-linear-algebra">Read More</a>)
        </span> 
        </h3>
        <h4>Aug 2026 &bull; A free 173 pages book on essence of linear algebra</h4>
        <p>
        Enoch's Notebook: An Introduction to Linear Algebra is a free
        book that contains the essence and foundations of linear algebra.
        The book initially started as a course notes and was published
        with <a href="https://archive.enochyu.com/mathematics/pdf/26101.pdf">free PDF</a>
        and <a href="https://www.amazon.com/dp/B0HFKWJSGK">Amazon</a>.
        </p>
      </div>
    </div>
  </div>
</section>
