<section class="resume-section">
  <div class="contact-content">
    <h2 class="resume-title" id="contact">Contact</h2>

    <form action="https://api.web3forms.com/submit" method="POST" class="form-group">
      <input type="hidden" name="access_key" value="f7db8f47-7025-441a-887f-b9c0a354dad5">
      <input type="hidden" name="from_name" value="Enoch Yu Contact Form">
      <input type="hidden" name="redirect" value="https://web3forms.com/success">
      <input type="checkbox" name="botcheck" id="" style="display: none;">
      
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Name" required>

      <label for="email">Email Address</label>
      <input type="email" name="email" placeholder="Email Address" required>

      <label for="subject">Subject</label>
      <input type="text" name="Email Subject" placeholder="Subject" required>

      <label for="message">Message</label>
      <textarea name="message" cols="30" rows="10" placeholder="..." required></textarea>
      <button type="submit" class="btn1" id="btn-contact">
        Send <i class="fa-solid fa-paper-plane"></i>
      </button>
    </form>
  </div>
</section>


