<section class="index-current">
  <p>
  Hello! Thank you for visiting my website. I am Enoch Yu, a rising
  high school junior in South Korea. I retain keen interests in
  numerous fields including pure math, machine learning, and
  quantitative finance.
  </p>
  <p>
  Currently I am...
  <ul>
    <li>
      Preparing for the upcoming national math olympiad
    </li>
    <li>
      Studying a specific transformer architecture for modular tasks
    </li>
    <li>
      Running Nanum Learn
    </li>
    <li>
      Configuring my setup for the infinite productivity loop
    </li>
  </ul>
  </p>
</section>



