<section class="profile-section">
  <div id="profile-image">
    <img src="/img/profile.jpg" alt="profile">
  </div>

  <div class="profile-info">
    <h1 id="profile-name">Enoch Yu</h1>
    <p id="profile-description">
    </p>
    <div>
      <div id="social-icons">
        {{ with .Site.Params.social.youtube }}
        <a href="{{ . }}" target="_blank" rel="noopener"
           aria-label="YouTube">
          <i class="fab fa-youtube"></i>
        </a>
        {{ end }}
        {{ with .Site.Params.social.github }}
        <a href="{{ . }}" target="_blank" rel="noopener"
           aria-label="GitHub">
          <i class="fab fa-github"></i>
        </a>
        {{ end }}
        {{ with .Site.Params.social.blog }}
        <a href="{{ . }}" target="_blank" rel="noopener"
           aria-label="Blog">
          <i class="fa-solid fa-blog"></i>
        </a>
        {{ end }}
        {{ with .Site.Params.social.archive }}
        <a href="{{ . }}" target="_blank" rel="noopener"
           aria-label="Archive">
          <i class="fa-solid fa-box-archive"></i>
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</section>

